/*#- reset#*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dd, dt,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1.6;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

body {
	background-color: transparent;
	padding: 0;
	margin: 0;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

a:focus {
	outline: none;
}

img,
object,
embed {
	max-width: 100%;
	height: auto;
}

object,
embed {
	height: 100%;
}

img {
	display: inline-block;
}

textarea {
	height: auto;
	min-height: 50px;
}

select {
	width: 100%;
}

ol, ul {
    margin-top:1em;
    margin-bottom:1em;
    margin-left:0;
    margin-right:0;
  
    padding-left:20px;
}

.no-bullets {
    margin-top:0;
    margin-bottom:0;
    list-style:none;
    padding-left:0;
}



.row {
    /*width:1200px;*/
	max-width: 100%;
	min-width: auto;
	margin-top: 0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
	*zoom: 1;
}



.row {
	width: 980px;
}


.no-mediaqueries .row {
    max-width:none;
}

.row > .row {
	width: auto;
	max-width: none;
	min-width: 0;
	margin-left: -10px;
	margin-right: -10px;
}

/*
.row > .row-collapsed {
      margin-left:auto;
      margin-right:auto;
}
*/

.row:before,
.row:after {
	display: table;
	content: "";
	clear: both;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .desktop1, .desktop2, .desktop3, .desktop4, .desktop5, .desktop6, .desktop7, .desktop8, .desktop9, .desktop10, .desktop11, .desktop12, .tablet1, .tablet2, .tablet3, .tablet4, .tablet5, .tablet6, .tablet7, .tablet8, .tablet9, .tablet10, .tablet11, .tablet12, .mobile1, .mobile2, .mobile3, .mobile4 {
	float: left;
}

.reversed > .span1, .reversed > .span2, .reversed > .span3, .reversed > .span4, .reversed > .span5, .reversed > .span6, .reversed > .span7, .reversed > .span8, .reversed > .span9, .reversed > .span10, .reversed > .span11, .reversed > .span12, .reversed > .desktop1, .reversed > .desktop2, .reversed > .desktop3, .reversed > .desktop4, .reversed > .desktop5, .reversed > .desktop6, .reversed > .desktop7, .reversed > .desktop8, .reversed > .desktop9, .reversed > .desktop10, .reversed > .desktop11, .reversed > .desktop12, .reversed > .tablet1, .reversed > .tablet2, .reversed > .tablet3, .reversed > .tablet4, .reversed > .tablet5, .reversed > .tablet6, .reversed > .tablet7, .reversed > .tablet8, .reversed > .tablet9, .reversed > .tablet10, .reversed > .tablet11, .reversed > .tablet12, .reversed > .mobile1, .reversed > .mobile2, .reversed > .mobile3, .reversed > .mobile4 {
	float: right;
}

.col-inner {
	display: block;
	padding: 0 10px;
}

.span1 {
	width: 8.33333%;
}

.span2 {
	width: 16.66667%;
}

.span3 {
	width: 25%;
}

.span4 {
	width: 33.33333%;
    *width:33%;
}

.span5 {
	width: 41.66667%;
}

.span6 {
	width: 50%;
    *width:49%;
}

.span7 {
	width: 58.33333%;
}

.span8 {
	width: 66.66667%;
}

.span9 {
	width: 75%;
}

.span10 {
	width: 83.33333%;
}

.span11 {
	width: 91.66667%;
}

.span12 {
	width: 100%;
}

.span1of5 { float:left; width:20%; }

.desktop-visible {
	display: block;
}

.tablet-visible {
	display: none;
}

.mobile-visible {
	display: none;
}

.desktop-hidden {
	display: none;
}

.tablet-hidden {
	display: block;
}

.mobile-hidden {
	display: block;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

@media (min-width: 1200px) {
	.desktop-span1 {
		width: 8.33333%;
	}

	.desktop-span2 {
		width: 16.66667%;
	}

	.desktop-span3 {
		width: 25%;
	}

	.desktop-span4 {
		width: 33.33333%;
	}

	.desktop-span5 {
		width: 41.66667%;
	}

	.desktop-span6 {
		width: 50%;
	}

	.desktop-span7 {
		width: 58.33333%;
	}

	.desktop-span8 {
		width: 66.66667%;
	}

	.desktop-span9 {
		width: 75%;
	}

	.desktop-span10 {
		width: 83.33333%;
	}

	.desktop-span11 {
		width: 91.66667%;
	}

	.desktop-span12 {
		width: 100%;
	}
}
@media (max-width: 800px) {
	.tablet1 {
		width: 8.33333%;
	}

	.tablet2 {
		width: 16.66667%;
	}

	.tablet3 {
		width: 25%;
	}

	.tablet4 {
		width: 33.33333%;
	}

	.tablet5 {
		width: 41.66667%;
	}

	.tablet6 {
		width: 50%;
	}

	.tablet7 {
		width: 58.33333%;
	}

	.tablet8 {
		width: 66.66667%;
	}

	.tablet9 {
		width: 75%;
	}

	.tablet10 {
		width: 83.33333%;
	}

	.tablet11 {
		width: 91.66667%;
	}

	.tablet12 {
		width: 100%;
	}

	.desktop-visible {
		display: none;
	}

	.tablet-visible {
		display: block;
	}

	.mobile-visible {
		display: none;
	}

	.desktop-hidden {
		display: block;
	}

	.tablet-hidden {
		display: none;
	}

	.mobile-hidden {
		display: block;
	}

	.tablet-pull-none {
		float: none;
	}

	.tablet-pull-left {
		float: left;
	}

	.tablet-pull-right {
		float: right;
	}
}
@media (max-width: 480px) {
	.mobile1 {
		width: 25%;
	}

	.mobile2 {
		width: 50%;
	}

	.mobile3 {
		width: 75%;
	}

	.mobile4 {
		width: 100%;
	}

	.desktop-visible {
		display: none;
	}

	.tablet-visible {
		display: none;
	}

	.mobile-visible {
		display: block;
	}

	.desktop-hidden {
		display: block;
	}

	.tablet-hidden {
		display: block;
	}

	.mobile-hidden {
		display: none;
	}

	.mobile-pull-none {
		float: none;
	}

	.mobile-pull-left {
		float: left;
	}

	.mobile-pull-right {
		float: right;
	}
}
.centered {
	float: none;
	margin: 0 auto;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.hidden {
	display: none !important;
}

.cf {
	overflow: hidden;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	clear: both;
}


.relative { position:relative; }

.inline-block {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
}
.valign-middle { vertical-align:middle; }
.valign-bottom { vertical-align:bottom; }

.no-float { float:none; }

sup {
	font-size:70%;
	vertical-align:top;
}

.row--collapsed {
	margin-left:-10px;
	margin-right:-10px;
	width:auto;
	max-width:none;
}

.inline-block-wrapper {
	font-size:0;
	line-height:0;
	letter-spacing:-4px;
}

.inline-block-wrapper > .inline-block,
.inline-block-wrapper .PagerControl {
	display:inline-block;
	vertical-align:top;
	font-size:14px;
	line-height:normal;
	letter-spacing:normal;
	float:none;
}

.inline-block-wrapper .PagerControl {
	display: block;
}