<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Email Addresses -->
    <!--
    <add key="FromEmailAddress" value="EstimatesWebSite@netresult.co.nz"/>
    <add key="CrownEmailAddress" value="mike.hoorens@netresultmobility.com"/>
    <add key="DealsContactUsMailToEmailAddress" value="mike.hoorens@netresultmobility.com"/>
    -->
    <add key="FromEmailAddress" value="nz@crownrelo.com"/>
    <add key="CrownEmailAddress" value="nz@crownrelo.com"/>
    <!--<add key="CrownEmailAddress" value="dlile@crownww.com"/>-->
    <add key="DealsContactUsMailToEmailAddress" value="dlile@crownww.com"/>
    <!--ooosthuizen@crownrelo.com"/-->
    <!--<add key="DealsContactUsMailToCC" value="mike.hoorens@netresultmobility.com"/>-->
    <add key="DealsContactUsMailToCC" value="dlile@crownww.com"/>
    <add key="FlagInactiveQuotesAsCompletedAfterXDays" value="30"/>
    <add key="ExternalDomains" value="realestate.co.nz"/>
    <!-- lower case domain names, separated -->
    <!--<add key="WriteableRoot" value="D:\WritableDirectories\Crown.Estimates.2011"/>-->
    <!--<add key="ErrorEmailAddressFrom" value="mike.hoorens@netresultmobility.com"/>
    <add key="ErrorEmailAddressTo" value="mike.hoorens@netresultmobility.com"/>-->
    <add key="ErrorEmailAddressFrom" value="crownestimates@gmail.com"/>
    <add key="ErrorEmailAddressTo" value="support@uniondigital.co.nz"/>
    <add key="ErrorEmailSubjectPrefix" value="CrownEstimes - Quotation Error"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Standard" connectionString="Data Source=USER\SQL2014EXPRESS;Initial Catalog=CrownQuotation-New;Integrated Security=True;Connect Timeout=43200" />
    <add name="DBUpgrade" connectionString="Data Source=USER\SQL2014EXPRESS;Initial Catalog=CrownQuotation-New;Integrated Security=True;Connect Timeout=43200" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!-- is not on my win7 machine... -->
    <!--  <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="120" />-->
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="uc" namespace="FAC.Web.UI.Controls" assembly="FAC.Web"/>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="captcha" namespace="FAC.Web.UI.Controls.WebControlCaptcha" assembly="WebControlCaptcha"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.aspx" type="FAC.Web.UI.Controls.WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>